* {
    font-family: 'Roboto Flex', sans-serif;
}
 h2{text-align: center;}
.top-menu{
    grid-template: 1fr 1fr / 1fr 1fr;
    list-style-type: none;
    background-color: wheat;
    display: grid; 
    grid-template-columns:auto auto auto;
    padding: 2%;
    justify-content: space-around;
   height: 50%;
   border-radius: 10px;
    
  
}
.top {
   
    background-color: lightsalmon;
    border-radius: 10px;
   
}

h1 {
    text-align: center;
}

body {

    font-size: xx-large;
    display: grid;
    grid-template-columns:100%;
    background-color: darksalmon;
    color: #3e3e3e;
    padding: 10%;
    
    
}
.rows {background-color:bisque;
    border: solid 3px black;
 border-radius: 10px;
 padding: 5%;
 text-align: center;
}

.footer {

    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 4%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    list-style-type: none;
   
}

.bottom_links {
    color: white;
    text-decoration: none
}


#copyright {
    text-align: center;
}
img{ max-width: 80%;
    border-radius: 50%;
    border: solid 3px white;
    
    display: block;
    margin-left: auto;
    margin-right: auto;}

    a:hover{color: chocolate;}
    a{text-decoration: none;
        color:maroon;}